.transition(@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.progress {
  position: relative;
  height: 19px;
  border: 1px solid #CCC;
  margin-bottom: 30px;

  & .bar {
    width: 0;
    height: 100%;
    background: #429CF5;

   .transition(width .6s ease);
  }

  & span {
    position: absolute;
    top: 22px;
    left: 0;
  }
}
