{{css path="index.css"}}

<div class="progress" role="progressbar"
    aria-valuemin="0"
    aria-valuemax="{{#if max}}{{max}}{{else}}1{{/if}}"
    aria-valuenow="{{#if value}}{{value}}{{else}}0{{/if}}">
    
  <div class="bar"></div>
  <span>{{text}}</span>
</div>
